{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>
                    Thanks, {{ feedback_data.name }}!
                </h1>
                <p>
                    {{ page.success_text | richtext }}
                </p>
                <a class="btn btn-primary" href="/" role="button">На главную страницу</a>
            </div>
        </div>
    </div>
{% endblock %}